body {
    text-align: center;
    background-color: #00aec6;
}
p {
    color: #00329f;
    font-family: Shanti;
    font-size: 1.2em;
    display: inline-block;
    margin:  20px;
}
img {
    margin: 60px 0 30px 0;
    width: 250px;
}
input {
  width: 300px;
  margin: 20px 20px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-family: Shanti;
  font-size: 1.3em;
  text-align: center;
}

input:focus {
    outline: none;
    border: solid 5px #00329f;
}

#greet {
    background-color: #00329f;
    border:  none;
    width:  200px;
    color: white;
}

#greet:hover {
    background-color: #00329f;
}

.box{
    margin:0 auto; 
    width:600px;
    padding:20px;
    background:#f9f9f9;
    border:2px solid #333;
    }